elasticsearchHosts: "https://elasticsearch-master:9200"

# Using the certs you already have
elasticsearchCertificateSecret: elasticsearch-master-certs
elasticsearchCertificateAuthoritiesFile: ca.crt

# Let the Helm chart use the token it just created (as seen in your logs)
# This replaces the manual 'elasticsearchCredentialSecret' for the first boot
# if the pre-install job is being used.
elasticsearchCredentialSecret: elasticsearch-master-credentials

replicas: 1

extraEnvs:
  - name: "NODE_OPTIONS"
    value: "--max-old-space-size=1800"

image: "docker.elastic.co/kibana/kibana"
imageTag: "8.5.1"
imagePullPolicy: "IfNotPresent"

resources:
  requests:
    cpu: "1000m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

protocol: https
serverHost: "0.0.0.0"

# Change this to "/" if the pod stays in "Health Missing"
healthCheckPath: "/status" 

podSecurityContext:
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  runAsUser: 1000

httpPort: 5601

service:
  type: ClusterIP
  port: 5601
  httpPortName: http

updateStrategy:
  type: "Recreate"