replicaCount: 1

image:
  repository: chartmuseum/chartmuseum
  tag: v0.15.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false

env:
  open:
    STORAGE: local
    STORAGE_LOCAL_ROOTDIR: /charts

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 2Gi
  storageClass: ""

security:
  enableBasicAuth: false  # You can enable later
