## -----------------------------------------------------------------------------
## Image (Bitnami Legacy)
## -----------------------------------------------------------------------------
image:
  repository: bitnami/elasticsearch
  tag: 7.17.10
  pullPolicy: IfNotPresent


clusterName: elasticsearch
nodeGroup: master

replicaCount: 1


extraEnvVars:
  - name: discovery.type
    value: single-node


esConfig:
  elasticsearch.yml: |
    xpack.security.enabled: false
    xpack.security.transport.ssl.enabled: false
    xpack.security.http.ssl.enabled: false

esJavaOpts: "-Xms512m -Xmx512m"


resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 1
    memory: 2Gi


sysctlImage:
  repository: bitnami/bitnami-shell
  tag: "11"

sysctl:
  enabled: true
  vmMaxMapCount: 262144

persistence:
  enabled: false


antiAffinity: soft


service:
  type: ClusterIP
  ports:
    restAPI: 9200


readinessProbe:
  enabled: true

livenessProbe:
  enabled: true
