replicas: 1

# Helm chart roles (MUST be empty)
roles: []

esConfig:
  elasticsearch.yml: |
    node.roles: []
    discovery.type: single-node

minimumMasterNodes: 0

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

esJavaOpts: "-Xms1g -Xmx1g"

sysctlInitContainer:
  enabled: false

readinessProbe:
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 5
  failureThreshold: 6
