clusterName: "elasticsearch"
nodeGroup: "master"

# Format for Official Elastic Chart
image: "docker.elastic.co/elasticsearch/elasticsearch"
imageTag: "8.5.1"
imagePullPolicy: "IfNotPresent"

replicas: 1

# THE CRITICAL FIXES
extraEnvs:
  - name: "discovery.type"
    value: "single-node"
  # This prevents the chart from trying to find other nodes
  - name: "cluster.initial_master_nodes"
    value: ""

# Resource Bump - 8.x needs 2Gi to even start the security layers
resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

esJavaOpts: "-Xmx1g -Xms1g"

# We disable this because we ran the 'rdctl' command manually above
sysctlInitContainer:
  enabled: false

clusterHealthCheckParams: "wait_for_status=yellow&timeout=1s"

readinessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10