replicaCount: 1

image:
  repository: bitnamilegacy/elasticsearch
  tag: 7.17.9-debian-11-r0

global:
  security:
    allowInsecureImages: true

clusterName: "es-cluster"

nodeGroup: "master"

esConfig:
  elasticsearch.yml: |
    cluster.name: "es-cluster"
    network.host: 0.0.0.0
    discovery.type: single-node

resources:
  requests:
    memory: "1Gi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "1"

persistence:
  enabled: true
  storageClass: "local-path"
  size: 5Gi

service:
  type: ClusterIP
  port: 9200

readinessProbe:
  httpGet:
    path: /
    port: 9200
  initialDelaySeconds: 20
  timeoutSeconds: 5

livenessProbe:
  httpGet:
    path: /
    port: 9200
  initialDelaySeconds: 60
  timeoutSeconds: 5
