clusterName: "elasticsearch-stage"
nodeGroup: "master"
masterService: "elasticsearch-stage-master"

# High availability for stage
replicas: 1
minimumMasterNodes: 1

# Resource management to prevent "OOMKilled" which causes health to fail
esJavaOpts: "-Xmx1g -Xms1g"
resources:
  requests:
    cpu: "1000m"
    memory: "2Gi"
  limits:
    cpu: "2000m"
    memory: "2Gi"

# Wait for 'green' status before considering the pod "Ready"
clusterHealthCheckParams: "wait_for_status=green&timeout=10s"

readinessProbe:
  initialDelaySeconds: 40 # ES takes time to start JVM
  periodSeconds: 15
  failureThreshold: 5

persistence:
  enabled: true