replicas: 1

roles:
  - master
  - data
  - ingest

esConfig:
  elasticsearch.yml: |
    discovery.type: single-node

esJavaOpts: "-Xms1g -Xmx1g"

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

esJavaOpts: "-Xms1g -Xmx1g"

sysctlInitContainer:
  enabled: false

readinessProbe:
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 5
  failureThreshold: 6
