replicas: 1

# Official Elastic image
image: "docker.elastic.co/elasticsearch/elasticsearch"
imageTag: "8.5.1"
imagePullPolicy: IfNotPresent

# Resources
resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

# Java Heap
esJavaOpts: "-Xmx512m -Xms512m"

# Anti-affinity
antiAffinity: "soft"

# Init container for sysctl
extraInitContainers:
  - name: sysctl
    image: docker.elastic.co/elasticsearch/elasticsearch:8.5.1
    command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
    securityContext:
      privileged: true


# Disable persistence for dev
persistence:
  enabled: false
