USER-SUPPLIED VALUES:
Probes: null
cluster:
  initial_master_nodes: []
  seed_hosts: []
clusterHealthCheckParams: wait_for_status=yellow&timeout=1s
clusterName: elasticsearch
esJavaOpts: -Xmx1g -Xms1g
extraEnvs:
- name: discovery.type
  value: single-node
- name: xpack.security.enabled
  value: "true"
- name: bootstrap.memory_lock
  value: "false"
image: docker.elastic.co/elasticsearch/elasticsearch
imagePullPolicy: IfNotPresent
imageTag: 8.5.1
livenessProbe:
  failureThreshold: 5
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 10
minimumMasterNodes: null
nodeGroup: master
readinessProbe:
  failureThreshold: 3
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 5
replicas: 1
resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 1000m
    memory: 2Gi
sysctlInitContainer:
  enabled: false
volumeClaimTemplate:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
