clusterName: "elasticsearch"
nodeGroup: "master"

image: "docker.elastic.co/elasticsearch/elasticsearch"
imageTag: "8.5.1"
imagePullPolicy: "IfNotPresent"

replicas: 1

esConfig:
  elasticsearch.yml: |
    discovery.type: single-node

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

esJavaOpts: "-Xmx1g -Xms1g"

sysctlInitContainer:
  enabled: false

clusterHealthCheckParams: "wait_for_status=yellow&timeout=1s"

readinessProbe:
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
