apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default

  sources:
  - repoURL: https://github.com/sidhuni/apps-repo.git
    targetRevision: main
    ref: values

  - repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    targetRevision: 8.8.0
    helm:
      valueFiles:
        - $values/apps/grafana/values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: grafana

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
