apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    targetRevision: 7.3.9
    helm:
      values: |
        service:
          type: ClusterIP
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"

  destination:
    namespace: grafana
    name: in-cluster

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
