replicaCount: 1

adminUser: admin
adminPassword: admin123

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false

persistence:
  enabled: true
  size: 5Gi
  accessModes:
    - ReadWriteOnce

grafana.ini:
  security:
    allow_embedding: true

dashboardsProvider:
  enabled: true

dashboards:
  default:
    node-exporter:
      gnetId: 11074
      revision: 9
      datasource: Prometheus

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus-server.default.svc.cluster.local
      isDefault: true
