auth:
  enabled: false  # disables SASL/TLS

listeners:
  client:
    protocol: PLAINTEXT

image:
  repository: bitnamilegacy/kafka

defaultInitContainers:
  prepareConfig:
    image:
      repository: bitnamilegacy/kafka

controller:
  replicaCount: 1

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1024Mi"
    cpu: "500m"

kraft:
  clusterIdSecret: my-kafka-cluster-kraft
  # Ensures chart uses your secret, does NOT generate a new one
  force: true

existingSecrets:
  # Prevent chart from regenerating user passwords
  userSecrets:
    - my-kafka-cluster-user-passwords

commonAnnotations:
  "helm.sh/resource-policy": keep
