fullnameOverride: postgresql

auth:
  enablePostgresUser: true
  username: admin
  database: chms

  existingSecret: "postgresql-secrets"
  secretKeys:
    adminPasswordKey: postgres_password
    userPasswordKey: user_password

architecture: standalone

primary:
  persistence:
    enabled: true
    storageClass: local-path
    size: 8Gi
    mountPath: /bitnami/postgresql

  service:
    type: NodePort

readReplicas:
  replicaCount: 0

persistentVolumeClaimRetentionPolicy:
  enabled: true

primary:
  extraVolumes:
    - name: secrets-store-inline
      csi:
        driver: secrets-store.csi.k8s.io
        readOnly: true
        volumeAttributes:
          secretProviderClass: "postgresql-secrets"
  extraVolumeMounts:
    - name: secrets-store-inline
      mountPath: "/mnt/secrets-store"
      readOnly: true
